<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.jbk.test.LoginTest"/>
      <class name="com.jbk.test.AddUserPageTest"/>
      <class name="com.jbk.test.UserPageTest"/>
      <class name="com.jbk.test.RegistrationPageTest"/>
      <class name="com.jbk.test.DashboardPageTest"/>
       <class name="com.jbk.test.OperatorsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
